{% extends "includes/base.html" %}
{% block content %}
  <h3 class="text-center">Добро пожаловать на Wildberries scanner!</h3>

  <p class="card-text text-center">Заходите на сайт Wildberries, видете огромные скидки в 70-80% и сразу хочется успеть купить?
    Но реальны ли эти скидки?!
    Наше приложение отслеживает только реальные скидки на товары на сайте Wildberries!
    Достаточно ввести наименование товара и желаемую скидку и мы оповестим Вас, когда цена на товар снизится на столько, насколько вы указали!
    Делайте покупки на Wildberries действительно выгодно!</p>
{% endblock content %}
