{% extends "includes/base.html" %}
{% block content %}
  <h1>Уведомления </h1>
  <hr>
<form method="POST" action="" novalidate>
  {{ form.csrf_token }}
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      {{ form.email.label }}
    </div>
    <div class="col-auto">
      {{ form.email(class="form-control") }}
    </div>

    {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
      <span>{{ error }}</span>
    </div>
    {% endfor %}

    <div class="col-auto">
      <span id="passwordHelpInline" class="form-text">
        Введите email длиной до 30 символов.
      </span>
    </div>

    <div class="d-grid gap-2 d-md-block">
    {{ form.submit(class="btn btn-dark btn-lg") }}
    </div>

  </div>

<div class="row my-5">
  <table class="table">
    <thead>
      <tr>
        <!-- product_name
discount
date_query
created_at
product_id -->
        <th scope="col">Запрос</th>
        <th scope="col">Дата запроса</th>
        <th scope="col">Название товара</th>
        <th scope="col">Код товара</th>
        <th scope="col">Скидка</th>
        <th scope="col">Дата уведомления</th>
      </tr>
    </thead>
    <tbody>
      {% for notification in notifications %}
      <tr>
        <td>
          <a href="https://www.wildberries.ru/catalog/0/search.aspx?search={{notification.query}}">{{notification.query}}</a>
        </td>
        <td>{{notification.date_query}}</td>
        <td>{{notification.product_name}}</td>
        <td>
          <a href="https://www.wildberries.ru/catalog/{{notification.product_id}}/detail.aspx">{{notification.product_id}}</a>
        </td>
        <td>{{notification.discount}}</td>
        <td>{{notification.created_at}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

</form>
{% endblock content %}
